
.header{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.leftalign{
	float:left;
	font-family: 'Montserrat', sans-serif;
	color: #6886c3;
	padding-left: 40px;
	font-size: 40px;
	margin-top: 10px;
	font-style: italic;
	font-weight: 900;
}

a{
	text-decoration: none;
	color: #6886c3;
}

a:hover{
	text-decoration: none;
	/*color: #FDC119;*/
	color: #485D87;
}

.rightalign{
	float:right;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	color: #b7b7b8 !important;
	padding-right: 50px;
	margin-top:20px;
	font-size: 25px;
}


#projects{
	padding-top: 40px;
	width:100%;
	background-color: #f6f1f1;
}

.restpics{
	margin: auto;
	/*width: 700px;*/
	background-color: #f6f1f1;
}

.gridimg{
	border-radius:5px;
}


table{
	margin: auto;
}

.ttl{
	padding-left:200px;
	padding-right:200px;
}

.np{
	text-align: right;
}

.ttl:hover{
	-webkit-filter: opacity(100%) !important;
    filter: opacity(100%) !important;
}

td{
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px; 
	padding-top: 10px;         
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

td:hover{
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
}

tr{
	padding-left: 5px;
	padding-right: 5px;
}


/*#top:hover{
	color: #FFD700 !important;
} */


.title{
	position: relative;
	width: 100%;
}


h3{
	font-family: 'Montserrat', sans-serif;
	color: #414141;
	font-size: 40px;
	text-align: center;
	letter-spacing: 5px;

}


h4{
	font-family: 'Montserrat', sans-serif;
	color: #414141;
	font-size: 14px;
	margin:auto;
	width: 55%;
	text-align: center;
	font-weight:300;
}

h5{
	font-family: 'Montserrat', sans-serif;
	color: #414141;
	font-size: 16px;
	width: 55%;
	line-height: 1.75;
	font-weight:300;
	margin:auto;
	background-color: #f6f1f1;
}

h6{
	color: #4d4c4c;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight:300;
}

.contactlist{
	margin-top: -30px !important;
}


